/*------------------------------------------------
Global Styles
-----------------------------------------------*/

body {
	font-family: "Jost", sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #1b1b1b;
	line-height: 1.5;
}

.theme-wrapper {
	max-width: 1400px;
	margin: 30px auto;
}

.theme-wrapper .left {
	flex-basis: 20%;
	max-width: 20%;
	margin-left: 5%;
	padding-right: 20px;
}

.theme-wrapper .right {
	flex-basis: 70%;
	max-width: 70%;
	margin-right: 5%;
}

.is-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.is-flex-left {
	display: flex;
}

.is-center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.is-reverse {
    flex-direction: row-reverse;
}

.is-relative {
    position: relative;
}

.bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-center {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.is-white {
	color: #fff;
}

a {
	text-decoration: none;
	color: #757575;
}

img {
	width: 100%;
	height: auto;
}

section + section {
	margin-top: 15px;
}

h3 + p {
	margin-top: 5px;
}

.overflow {
	overflow-y: scroll;
}

.proj-link {
	padding: 10px;

}

.proj-tag {
	font-family: "Forum", serif;
	font-size: 16px;
}

.img-col {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.button {
	justify-content: right;
}

.button-left {
	justify-content: left;
}

.btn {
	margin-top: 10px;
	padding: 5px 16px;
	background: #fff;
	border-radius: 6px;
	border: 1px solid #393939;
	font-family: inherit;
	color: #393939;
	font-weight: 400;
	transition: color 0.35s ease;
}

.btn:hover {
	background: #f5f5f5;
}

.overlay {
	height: 100%;
	transition: background 0.35s ease;
}

.overlay:hover {
	background: rgba(0,0,0,0.25);
}

@media only screen and (max-width: 768px) {
	.theme-wrapper {
		max-width: 1400px;
		margin: 30px 5%;
	}
	.theme-wrapper .left {
		flex-basis: 100%;
		max-width: 100%;
		margin-left: 0;
		padding-right: 20px;
	}
	.theme-wrapper .right {
		flex-basis: 100%;
		max-width: 100%;
		margin-right: 0;
	}
}


/*
|------------------------------------------
|  Typography
|------------------------------------------
*/

h1 {
	font-weight: 400;
	font-size: 30px;
	color: #393939;
}

h2 {
	font-size: 20px;
	font-weight: 300;
	color: #393939;
	text-transform: uppercase;
}

h3 {
	font-size: 16px;
	font-weight: 400;
	color: #393939;
}

h4 {
	font-family: "Forum", serif;
	font-size: 16px;
	font-weight: 300;
	color: #757575;
}

/*
|------------------------------------------
|  Video
|------------------------------------------
*/
/* Style the video: 100% width and height to cover the entire window */
/*
#video-1 {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
/*
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
/*
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
/*
|------------------------------------------
|  The Grid
|------------------------------------------
*/

.col-s {
    flex: 0 0 32.65%;
    max-width: 32.65%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-11 {
    flex: 0 0 91%;
    max-width: 91%;
}

.col-10 {
    flex: 0 0 83%;
    max-width: 83%;
}

.col-9 {
    flex: 0 0 74.6%;
    max-width: 74.6%;
}

.col-8 {
    flex: 0 0 66.55%;
    max-width: 66.55%;
}

.col-7 {
    flex: 0 0 58%;
    max-width: 58%;
}

.col-6 {
    flex: 0 0 49.6%;
    max-width: 49.6%;
}

.col-5 {
    flex: 0 0 41%;
    max-width: 41%;
}

.col-4 {
    flex: 0 0 32.65%;
    max-width: 32.65%;
}

.col-3 {
    flex: 0 0 24.6%;
    max-width: 24.6%;
}

.col-2 {
    flex: 0 0 16%;
    max-width: 16%;
}

.col-1 {
    flex: 0 0 8%;
    max-width: 8%;
}

@media only screen and (min-width: 768px) and (max-width: 1400px) {
	.col-s {
	    flex: 0 0 49.6%;
	    max-width: 49.6%;
	}
}

@media only screen and (max-width: 768px) {
	.col-s {
	    flex: 0 0 100%;
	    max-width: 100%;
	}

	.col-12 {
	    flex: 0 0 100%;
	    max-width: 100%;
	}

	.col-11 {
	    flex: 0 0 100%;
	    max-width: 100%;
	}

	.col-10 {
	    flex: 0 0 100%;
	    max-width: 100%;
	}

	.col-9 {
	    flex: 0 0 100%;
	    max-width: 100%;
	}

	.col-8 {
	    flex: 0 0 100%;
	    max-width: 100%;
	}

	.col-7 {
	    flex: 0 0 100%;
	    max-width: 100%;
	}

	.col-6 {
	    flex: 0 0 100%;
	    max-width: 100%;
	}

	.col-5 {
	    flex: 0 0 100%;
	    max-width: 100%;
	}

	.col-4 {
	    flex: 0 0 100%;
	    max-width: 100%;
	}

	.col-3 {
	    flex: 0 0 100%;
	    max-width: 100%;
	}

	.col-2 {
	    flex: 0 0 100%;
	    max-width: 100%;
	}

	.col-1 {
	    flex: 0 0 100%;
	    max-width: 100%;
	}
}

/*------------------------------------------------
Header
-----------------------------------------------*/

.header img {
	width: 25px;
	height: auto;
	margin-right: 20px;
}

.header .logo {
	margin: 30px 0;
	width: 100%;
	height: 60px;
	background-image: url(../images/logo_1.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
}

/*.header .logo img {
	width: 90px;
	height: auto;
}*/

.nav-1 > a {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 450;
	color: #505050;
}

.gn .nav-1 {
	margin-bottom: 15px;
}

.gn .nav-2 {
	margin: 10px 0;
	font-weight: 350;
}

.gn a {
	transition: color 0.35s ease;
}

.gn a:hover {
	color: #1b1b1b;
}

.gn .active {
	color: #018e83;
}

.header .social {
	margin: 30px 0 20px;
}

@media only screen and (max-width: 768px) {
	.header .logo {
		margin: 10px 0 30px 10px;
		z-index: 4;
		height: 20px;
		background-image: url(../images/logo_2.svg);
	}
	#menu {
		position: absolute;
		top: 88px;
		padding-left: 5%;
		left: 0;
		right: 0;
		background-color: #fff;
		z-index: 1;
		display: none;
	}
	.menu .line {
		width: 32px;
        height: 3px;
        background-color: #999;
        margin: 7px 0;
	}
	.menu {
		position: absolute;
		top: 30px;
		padding-right: 5%;
		right: 0;
	}
}

/*
|------------------------------------------
|  Home Page Image
|------------------------------------------
*/

.hi {
	margin-top: 10px;
	margin-bottom: 30px;
}

.hi h3 {
	font-size: 17px;
	font-weight: 300;
	line-height: 2;
}

.underline {
  position: relative;
  white-space: nowrap;
  &:after {
    --deco-height: 0.4em;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--deco-height) * -0.625);
    height: var(--deco-height);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%23029388' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: auto 100%;
    background-repeat: round;
    background-position: 0em;
  }
}

.proj-1 {
    background-image: url(../images/proj-1/proj-1.jpg);
}

.proj-2 {
    background-image: url(../images/proj-2/proj-2.jpg);
}

.proj-3 {
    background-image: url(../images/proj-3/proj-3.jpg);
}

.proj-4 {
    background-image: url(../images/proj-4/proj-4.jpg);
}

.proj-5 {
    background-image: url(../images/proj-5/proj-5.jpg);
}

.proj-6 {
    background-image: url(../images/proj-6/proj-6.jpg);
}

.proj-7 {
    background-image: url(../images/proj-7/proj-7.jpg);
}


/*------------------------------------------------
Home - Projects
-----------------------------------------------*/

.proj-list .img-col {
	height: 264px;
}

.proj-list .proj-title {
	margin: 255px 0 5px;
}

@media only screen and (min-width: 768px) and (max-width: 1400px) {
	.proj-list .img-col {
		height: 23vw;
	}
	.proj-list .proj-title {
		margin: 22.5vw 0 5px;
	}
}

@media only screen and (max-width: 768px) {
	.proj-list .img-col {
		height: 58vw;
	}
	.proj-list .proj-title {
		margin: 55vw 0 5px;
	}
}

/*------------------------------------------------
About
-----------------------------------------------*/

.about {
	padding: 30px 0;
	justify-content: center;
}

.about .container {
	width: 40vw;
}

.about h2 {
	margin-bottom: 10px;
}

.about-right {
	padding-left: 40px;
	margin-top: 20px;
}

.about-left p {
	margin-top: 20px;
}

.about .skill {
	margin-bottom: 50px;
}

.about .education {
	margin-bottom: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 1400px) {
	.about .container {
		width: 58vw;
	}
}

@media only screen and (max-width: 768px) {
	.about .container {
		width: 75vw;
		max-width: 386px;
	}
	.about-right {
		padding-left: 0;
	}
	.about .skill {
		margin: 50px auto;
	}
}

/*------------------------------------------------
Gallery
-----------------------------------------------*/

.gallery h1 {
	margin: 20px 0;
}

.gallery .img-col {
	height: 400px;
}

.gallery .proj-title {
	margin: 390px 0 5px;
}

.gall-1 {
    background-image: url(../images/gallery/gall-1.jpg);
}
.gall-2 {
    background-image: url(../images/gallery/gall-2.jpg);
}
.gall-3 {
    background-image: url(../images/gallery/gall-3.jpg);
}
.gall-4 {
    background-image: url(../images/gallery/gall-4.jpg);
}
.gall-5 {
    background-image: url(../images/gallery/gall-5.jpg);
}
.gall-6 {
    background-image: url(../images/gallery/gall-6.jpg);
}
.gall-7 {
    background-image: url(../images/gallery/gall-7.jpg);
}
.gall-8 {
    background-image: url(../images/gallery/gall-8.jpg);
}
.gall-9 {
    background-image: url(../images/gallery/gall-9.jpg);
}

/*------------------------------------------------
Contact
-----------------------------------------------*/

.contact {
	height: 500px;
	margin: 30px auto;
	justify-content: center;
}

.form {
	width: 30vw;
}

.form .input {
	margin: 15px 0;
	width: 100%;
	font-family: inherit;
	font-weight: 300;
}

@media only screen and (min-width: 768px) and (max-width: 1400px) {
	.form {
		width: 36vw;
	}
}

@media only screen and (max-width: 768px) {
	.form {
		width: 80vw;
	}
}

/*------------------------------------------------
Project Page
-----------------------------------------------*/

.bnr {
	min-height: 260px;
	background: #f5f5f5;
}

.bnr .img-col {
	margin-right: 10px;
}

.bnr-right {
	padding: 35px 50px 30px 20px;
}

.bnr-right p {
	margin-top: 20px;
}

.right .text {
	margin: 30px 120px;
}

.right .text h2 {
	margin-bottom: 10px;
}

.right .bullet {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 20px;
}

.right .bullet li {
	list-style: circle;
	list-style-position: outside;
}

.right .image-size-1 li{
	height: 290px;
}

.right .image-size-1 .img-col {
	height: 290px;
}

.right .image-size-2 li{
	height: 450px;
}

.right .image-size-2 .img-col {
	height: 450px;
}

.right .image-size-3 li{
	height: 550px;
}

.right .image-size-3 .img-col {
	height: 550px;
}

.right .image-size-4 li{
	height: 750px;
}

.right .image-size-4 .img-col {
	height: 750px;
}

.next {
	margin-top: 60px;
	background: #f5f5f5;
}

.next p {
	font-size: 20px;
	font-weight: 300;
	color: #393939;
	padding-top: 30px;
	padding-bottom: 5px;
}

.next .content {
	height: 100%;
	padding: 20px;
}

.next-left {
	height: 220px;
}

.next-right {
	padding: 20px 20px 10px 15px;
}

.next-right h2 {
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 10px;
}

.next-right h3 {
	font-weight: 300;
}

@media only screen and (min-width: 768px) and (max-width: 1400px) {
	.right .text {
		margin: 30px 10%;
	}
	.right .image-size-1 li{
		height: 21vw;
	}

	.right .image-size-1 .img-col {
		height: 21vw;
	}

	.right .image-size-2 li{
		height: 30vw;
	}

	.right .image-size-2 .img-col {
		height: 30vw;
	}

	.right .image-size-3 li{
		height: 40vw;
	}

	.right .image-size-3 .img-col {
		height: 40vw;
	}

	.right .image-size-4 li{
		height: 40vw;
	}

	.right .image-size-4 .img-col {
		height: 40vw;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1050px) {
	.bnr .col-7 {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.bnr-right {
		padding: 35px 50px 30px 50px;
	}
}

@media only screen and (max-width: 768px) {

	.bnr-right {
		padding: 35px 15px 30px 15px;
	}

	.right .text {
		margin: 30px 5%;
	}

	.right [class*="image-size"] li {
		margin-bottom: 10px;
	}

	.right .image-size-1 li{
		height: 58vw;
	}

	.right .image-size-1 .img-col {
		height: 58vw;
	}

	.right .image-size-2 li{
		height: 80vw;
	}

	.right .image-size-2 .img-col {
		height: 80vw;
	}

	.right .image-size-3 li{
		height: 70vw;
	}

	.right .image-size-3 .img-col {
		height: 70vw;
	}

	.right .image-size-4 li{
		height: 70vw;
	}

	.right .image-size-4 .img-col {
		height: 70vw;
	}

	.next-right {
		padding: 20px 0 0 0;
	}
}


/*------------------------------------------------
Project 1
-----------------------------------------------*/

.proj-1-2 {
    background-image: url(../images/proj-1/proj-1-2.jpg);
}
.proj-1-3 {
    background-image: url(../images/proj-1/proj-1-3.jpg);
}
.proj-1-4 {
    background-image: url(../images/proj-1/proj-1-4.jpg);
}
.proj-1-5 {
    background-image: url(../images/proj-1/proj-1-5.jpg);
}
.proj-1-6 {
    background-image: url(../images/proj-1/proj-1-6.jpg);
}
.proj-1-7 {
    background-image: url(../images/proj-1/proj-1-7.jpg);
}
.proj-1-8 {
    background-image: url(../images/proj-1/proj-1-8.jpg);
}
.proj-1-9 {
    background-image: url(../images/proj-1/proj-1-9.jpg);
}
.proj-1-10 {
    background-image: url(../images/proj-1/proj-1-10.jpg);
}
.proj-1-11 {
    background-image: url(../images/proj-1/proj-1-11.jpg);
}
.proj-1-12 {
    background-image: url(../images/proj-1/proj-1-12.jpg);
}
.proj-1-13 {
    background-image: url(../images/proj-1/proj-1-13.jpg);
}
.proj-1-14 {
    background-image: url(../images/proj-1/proj-1-14.jpg);
}
.proj-1-15 {
    background-image: url(../images/proj-1/proj-1-15.jpg);
}
.proj-1-16 {
    background-image: url(../images/proj-1/proj-1-16.jpg);
}
.proj-1-17 {
    background-image: url(../images/proj-1/proj-1-17.jpg);
}
.proj-1-18 {
    background-image: url(../images/proj-1/proj-1-18.jpg);
}

/*------------------------------------------------
Project 2
-----------------------------------------------*/

.proj-2-1 {
    background-image: url(../images/proj-2/proj-2-1.jpg);
}
.proj-2-2 {
    background-image: url(../images/proj-2/proj-2-2.png);
}
.proj-2-3 {
    background-image: url(../images/proj-2/proj-2-3.png);
}
.proj-2-4 {
    background-image: url(../images/proj-2/proj-2-4.png);
}
.proj-2-5 {
    background-image: url(../images/proj-2/proj-2-5.jpg);
}
.proj-2-6 {
    background-image: url(../images/proj-2/proj-2-6.jpg);
}
.proj-2-7 {
    background-image: url(../images/proj-2/proj-2-7.jpg);
}
.proj-2-8 {
    background-image: url(../images/proj-2/proj-2-8.jpg);
}
.proj-2-9 {
    background-image: url(../images/proj-2/proj-2-9.jpg);
}
.proj-2-10 {
    background-image: url(../images/proj-2/proj-2-10.jpg);
}
.proj-2-11 {
    background-image: url(../images/proj-2/proj-2-11.jpg);
}
.proj-2-12 {
    background-image: url(../images/proj-2/proj-2-12.jpg);
}
.proj-2-13 {
    background-image: url(../images/proj-2/proj-2-13.jpg);
}
.proj-2-14 {
    background-image: url(../images/proj-2/proj-2-14.jpg);
}
.proj-2-15 {
    background-image: url(../images/proj-2/proj-2-15.jpg);
}
.proj-2-16 {
    background-image: url(../images/proj-2/proj-2-16.jpg);
}
.proj-2-17 {
    background-image: url(../images/proj-2/proj-2-17.jpg);
}
.proj-2-18 {
    background-image: url(../images/proj-2/proj-2-18.jpg);
}
.proj-2-19 {
    background-image: url(../images/proj-2/proj-2-19.jpg);
}

/*------------------------------------------------
Project 3
-----------------------------------------------*/

.proj-3-1 {
    background-image: url(../images/proj-3/proj-3-1.jpg);
}
.proj-3-3 {
    background-image: url(../images/proj-3/proj-3-3.jpg);
}
.proj-3-4 {
    background-image: url(../images/proj-3/proj-3-4.jpg);
}
.proj-3-6 {
    background-image: url(../images/proj-3/proj-3-6.jpg);
}
.proj-3-5 {
    background-image: url(../images/proj-3/proj-3-5.jpg);
}
.proj-3-7 {
    background-image: url(../images/proj-3/proj-3-7.jpg);
}
.proj-3-8 {
    background-image: url(../images/proj-3/proj-3-8.jpg);
}
.proj-3-10 {
    background-image: url(../images/proj-3/proj-3-10.jpg);
}
.proj-3-11 {
    background-image: url(../images/proj-3/proj-3-11.jpg);
}

/*------------------------------------------------
Project 4
-----------------------------------------------*/

.proj-4-1 {
    background-image: url(../images/proj-4/proj-4-1.jpg);
}
.proj-4-2 {
    background-image: url(../images/proj-4/proj-4-2.jpg);
}
.proj-4-3 {
    background-image: url(../images/proj-4/proj-4-3.jpg);
}
.proj-4-4 {
    background-image: url(../images/proj-4/proj-4-4.jpg);
}
.proj-4-5 {
    background-image: url(../images/proj-4/proj-4-5.jpg);
}
.proj-4-6 {
    background-image: url(../images/proj-4/proj-4-6.jpg);
}

/*------------------------------------------------
Project 5
-----------------------------------------------*/

.proj-5-1 {
    background-image: url(../images/proj-5/proj-5-1.jpg);
}
.proj-5-2 {
    background-image: url(../images/proj-5/proj-5-2.jpg);
}
.proj-5-3 {
    background-image: url(../images/proj-5/proj-5-3.jpg);
}
.proj-5-4 {
    background-image: url(../images/proj-5/proj-5-4.jpg);
}
.proj-5-5 {
    background-image: url(../images/proj-5/proj-5-5.jpg);
}
.proj-5-6 {
    background-image: url(../images/proj-5/proj-5-6.gif);
}
.proj-5-7 {
    background-image: url(../images/proj-5/proj-5-7.jpg);
}
.proj-5-8 {
    background-image: url(../images/proj-5/proj-5-8.jpg);
}
.proj-5-9 {
    background-image: url(../images/proj-5/proj-5-9.jpg);
}
.proj-5-10 {
    background-image: url(../images/proj-5/proj-5-10.jpg);
}
.proj-5-11 {
    background-image: url(../images/proj-5/proj-5-11.jpg);
}
.proj-5-12 {
    background-image: url(../images/proj-5/proj-5-12.jpg);
}
.proj-5-13 {
    background-image: url(../images/proj-5/proj-5-13.jpg);
}
.proj-5-14 {
    background-image: url(../images/proj-5/proj-5-14.jpg);
}
.proj-5-15 {
    background-image: url(../images/proj-5/proj-5-15.jpg);
}
.proj-5-16 {
    background-image: url(../images/proj-5/proj-5-16.jpg);
}
.proj-5-17 {
    background-image: url(../images/proj-5/proj-5-17.jpg);
}
.proj-5-18 {
    background-image: url(../images/proj-5/proj-5-18.jpg);
}
.proj-5-19 {
    background-image: url(../images/proj-5/proj-5-19.jpg);
}
.proj-5-20 {
    background-image: url(../images/proj-5/proj-5-20.jpg);
}
.proj-5-21 {
    background-image: url(../images/proj-5/proj-5-21.jpg);
}
.proj-5-22 {
    background-image: url(../images/proj-5/proj-5-22.jpg);
}
.proj-5-23 {
    background-image: url(../images/proj-5/proj-5-23.jpg);
}
.proj-5-24 {
    background-image: url(../images/proj-5/proj-5-24.jpg);
}
.proj-5-25 {
    background-image: url(../images/proj-5/proj-5-25.jpg);
}
.proj-5-26 {
    background-image: url(../images/proj-5/proj-5-26.jpg);
}
.proj-5-27 {
    background-image: url(../images/proj-5/proj-5-27.jpg);
}
.proj-5-28 {
    background-image: url(../images/proj-5/proj-5-28.jpg);
}
.proj-5-29 {
    background-image: url(../images/proj-5/proj-5-29.jpg);
}
.proj-5-30 {
    background-image: url(../images/proj-5/proj-5-30.jpg);
}

/*------------------------------------------------
Project 6
-----------------------------------------------*/

.project-6 .button-left {
	margin-top: 10px;
}

.project-6 .text strong {
	font-weight: 400;
}

.proj-6-1 {
    background-image: url(../images/proj-6/proj-6-1.jpg);
}
.proj-6-2 {
    background-image: url(../images/proj-6/proj-6-2.jpg);
}
.proj-6-3 {
    background-image: url(../images/proj-6/proj-6-3.jpg);
}
.proj-6-4 {
    background-image: url(../images/proj-6/proj-6-4.jpg);
}
.proj-6-5 {
    background-image: url(../images/proj-6/proj-6-5.jpg);
}
.proj-6-6 {
    background-image: url(../images/proj-6/proj-6-6.jpg);
}
.proj-6-7 {
    background-image: url(../images/proj-6/proj-6-7.jpg);
}
.proj-6-8 {
    background-image: url(../images/proj-6/proj-6-8.jpg);
}
.proj-6-9 {
    background-image: url(../images/proj-6/proj-6-9.jpg);
}
.proj-6-10 {
    background-image: url(../images/proj-6/proj-6-10.jpg);
}
.proj-6-11 {
    background-image: url(../images/proj-6/proj-6-11.gif);
}
.proj-6-12 {
    background-image: url(../images/proj-6/proj-6-12.jpg);
}
.proj-6-13 {
    background-image: url(../images/proj-6/proj-6-13.jpg);
}
.proj-6-14 {
    background-image: url(../images/proj-6/proj-6-14.jpg);
}
.proj-6-15 {
    background-image: url(../images/proj-6/proj-6-15.jpg);
}
.proj-6-16 {
    background-image: url(../images/proj-6/proj-6-16.jpg);
}
.proj-6-17 {
    background-image: url(../images/proj-6/proj-6-17.jpg);
}
.proj-6-18 {
    background-image: url(../images/proj-6/proj-6-18.jpg);
}

/*------------------------------------------------
Project 7
-----------------------------------------------*/

.proj-7-1 {
    background-image: url(../images/proj-7/proj-7-1.jpg);
}
.proj-7-2 {
    background-image: url(../images/proj-7/proj-7-2.jpg);
}
.proj-7-3 {
    background-image: url(../images/proj-7/proj-7-3.jpg);
}
.proj-7-4 {
    background-image: url(../images/proj-7/proj-7-4.jpg);
}
.proj-7-5 {
    background-image: url(../images/proj-7/proj-7-5.jpg);
}
.proj-7-6 {
    background-image: url(../images/proj-7/proj-7-6.jpg);
}
.proj-7-7 {
    background-image: url(../images/proj-7/proj-7-7.jpg);
}

/*------------------------------------------------
Artwork 1
-----------------------------------------------*/
.art-1 {
	background-image: url(../images/art-1/art-1.jpg);
}
.art-1-1 {
	background-image: url(../images/art-1/art-1-1.jpg);
}
.art-1-2 {
	background-image: url(../images/art-1/art-1-2.jpg);
}
.art-1-3 {
	background-image: url(../images/art-1/art-1-3.jpg);
}
.art-1-4 {
	background-image: url(../images/art-1/art-1-4.jpg);
}
.art-1-5 {
	background-image: url(../images/art-1/art-1-5.jpg);
}
.art-1-6 {
	background-image: url(../images/art-1/art-1-6.jpg);
}
.art-1-7 {
	background-image: url(../images/art-1/art-1-7.jpg);
}
.art-1-8 {
	background-image: url(../images/art-1/art-1-8.jpg);
}
.art-1-9 {
	background-image: url(../images/art-1/art-1-9.jpg);
}
.art-1-10 {
	background-image: url(../images/art-1/art-1-10.jpg);
}
.art-1-11 {
	background-image: url(../images/art-1/art-1-11.jpg);
}
.art-1-12 {
	background-image: url(../images/art-1/art-1-12.jpg);
}
.art-1-13 {
	background-image: url(../images/art-1/art-1-13.jpg);
}
.art-1-14 {
	background-image: url(../images/art-1/art-1-14.jpg);
}
.art-1-15 {
	background-image: url(../images/art-1/art-1-15.jpg);
}
.art-1-16 {
	background-image: url(../images/art-1/art-1-16.jpg);
}
.art-1-17 {
	background-image: url(../images/art-1/art-1-17.jpg);
}
.art-1-18 {
	background-image: url(../images/art-1/art-1-18.jpg);
}


/*------------------------------------------------
Artwork 2
-----------------------------------------------*/
.art-2 {
	background-image: url(../images/art-2/art-2.jpg);
}
.art-2-1 {
	background-image: url(../images/art-2/art-2-1.jpg);
}
.art-2-2 {
	background-image: url(../images/art-2/art-2-2.jpg);
}
.art-2-3 {
	background-image: url(../images/art-2/art-2-3.jpg);
}
.art-2-4 {
	background-image: url(../images/art-2/art-2-4.jpg);
}
.art-2-5 {
	background-image: url(../images/art-2/art-2-5.jpg);
}
.art-2-6 {
	background-image: url(../images/art-2/art-2-6.jpg);
}
.art-2-7 {
	background-image: url(../images/art-2/art-2-7.jpg);
}
.art-2-8 {
	background-image: url(../images/art-2/art-2-8.jpg);
}
.art-2-9 {
	background-image: url(../images/art-2/art-2-9.jpg);
}
.art-2-10 {
	background-image: url(../images/art-2/art-2-10.jpg);
}
.art-2-11 {
	background-image: url(../images/art-2/art-2-11.jpg);
}
.art-2-12 {
	background-image: url(../images/art-2/art-2-12.jpg);
}
.art-2-13 {
	background-image: url(../images/art-2/art-2-13.jpg);
}
.art-2-14 {
	background-image: url(../images/art-2/art-2-14.jpg);
}
.art-2-15 {
	background-image: url(../images/art-2/art-2-15.jpg);
}
.art-2-16 {
	background-image: url(../images/art-2/art-2-16.jpg);
}
.art-2-17 {
	background-image: url(../images/art-2/art-2-17.jpg);
}
.art-2-18 {
	background-image: url(../images/art-2/art-2-18.jpg);
}
.art-2-19 {
	background-image: url(../images/art-2/art-2-19.jpg);
}
.art-2-20 {
	background-image: url(../images/art-2/art-2-20.jpg);
}
.art-2-21 {
	background-image: url(../images/art-2/art-2-21.jpg);
}
.art-2-22 {
	background-image: url(../images/art-2/art-2-22.jpg);
}
.art-2-23 {
	background-image: url(../images/art-2/art-2-23.jpg);
}
.art-2-24 {
	background-image: url(../images/art-2/art-2-24.jpg);
}
.art-2-25 {
	background-image: url(../images/art-2/art-2-25.jpg);
}
.art-2-26 {
	background-image: url(../images/art-2/art-2-26.jpg);
}
.art-2-27 {
	background-image: url(../images/art-2/art-2-27.jpg);
}
.art-2-28 {
	background-image: url(../images/art-2/art-2-28.jpg);
}
.art-2-29 {
	background-image: url(../images/art-2/art-2-29.jpg);
}
.art-2-30 {
	background-image: url(../images/art-2/art-2-30.jpg);
}
.art-2-31 {
	background-image: url(../images/art-2/art-2-31.jpg);
}
.art-2-32 {
	background-image: url(../images/art-2/art-2-32.jpg);
}
.art-2-33 {
	background-image: url(../images/art-2/art-2-33.jpg);
}

/*------------------------------------------------
Artwork 3
-----------------------------------------------*/
.art-3 {
	background-image: url(../images/art-3/art-3.jpg);
}
.art-3-1 {
	background-image: url(../images/art-3/art-3-1.jpg);
}
.art-3-2 {
	background-image: url(../images/art-3/art-3-2.jpg);
}
.art-3-3 {
	background-image: url(../images/art-3/art-3-3.jpg);
}
.art-3-4 {
	background-image: url(../images/art-3/art-3-4.jpg);
}
.art-3-5 {
	background-image: url(../images/art-3/art-3-5.jpg);
}
.art-3-6 {
	background-image: url(../images/art-3/art-3-6.jpg);
}
.art-3-7 {
	background-image: url(../images/art-3/art-3-7.jpg);
}
.art-3-8 {
	background-image: url(../images/art-3/art-3-8.jpg);
}
.art-3-9 {
	background-image: url(../images/art-3/art-3-9.png);
}
.art-3-10 {
	background-image: url(../images/art-3/art-3-10.png);
}
.art-3-11 {
	background-image: url(../images/art-3/art-3-11.png);
}
.art-3-12 {
	background-image: url(../images/art-3/art-3-12.png);
}
.art-3-13 {
	background-image: url(../images/art-3/art-3-13.png);
}
.art-3-14 {
	background-image: url(../images/art-3/art-3-14.png);
}
.art-3-15 {
	background-image: url(../images/art-3/art-3-15.png);
}
.art-3-16 {
	background-image: url(../images/art-3/art-3-16.png);
}
.art-3-17 {
	background-image: url(../images/art-3/art-3-17.png);
}
.art-3-18 {
	background-image: url(../images/art-3/art-3-18.png);
}
.art-3-19 {
	background-image: url(../images/art-3/art-3-19.png);
}
.art-3-20 {
	background-image: url(../images/art-3/art-3-20.png);
}

/*------------------------------------------------
Artwork 4
-----------------------------------------------*/
.artwork-4 .img-col {
	width: 85%;
}
.art-4 {
	background-image: url(../images/art-4/art-4.jpg);
}
.art-4-1 {
	background-image: url(../images/art-4/art-4-1.gif);
}
.art-4-2 {
	background-image: url(../images/art-4/art-4-2.gif);
}
.art-4-3 {
	background-image: url(../images/art-4/art-4-3.gif);
}
.art-4-4 {
	background-image: url(../images/art-4/art-4-4.gif);
}
.art-4-5 {
	background-image: url(../images/art-4/art-4-5.gif);
}
.art-4-6 {
	background-image: url(../images/art-4/art-4-6.gif);
}
.art-4-7 {
	background-image: url(../images/art-4/art-4-7.gif);
}
.art-4-8 {
	background-image: url(../images/art-4/art-4-8.gif);
}
.art-4-9 {
	background-image: url(../images/art-4/art-4-9.gif);
}
.art-4-10 {
	background-image: url(../images/art-4/art-4-10.gif);
}
.art-4-11 {
	background-image: url(../images/art-4/art-4-11.gif);
}
.art-4-12 {
	background-image: url(../images/art-4/art-4-12.gif);
}
.art-4-13 {
	background-image: url(../images/art-4/art-4-13.gif);
}
.art-4-14 {
	background-image: url(../images/art-4/art-4-14.gif);
}
.art-4-15 {
	background-image: url(../images/art-4/art-4-15.gif);
}
.art-4-16 {
	background-image: url(../images/art-4/art-4-16.gif);
}


/*------------------------------------------------
Footer
-----------------------------------------------*/

.footer {
	margin-top: 60px;
}

.footer a p {
	display: inline-block;
	font-size: 18px;
	position: relative;
	left: 4px;
}

.footer a {
	transition: color 0.35s ease;
}

.footer a:hover {
	color: #1b1b1b;
}

.footer p {
	margin-top: 25px;
}

/*------------------------------------------------
Gallery - Image Preview
-----------------------------------------------*/

/* Styles the thumbnail */


/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,.7);
	width: 100%;
	opacity: 0;
	z-index: 5;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */


.lightbox-target .img-full {
	margin: auto;
	position: absolute;
	top: 0;
	left:0;
	right:0;
	bottom: 0;
	max-height: 0%;
	max-width: 0%;
	box-shadow: 0px 0px 8px rgba(0,0,0,.3);
	box-sizing: border-box;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
	display: block;
	width:50px;
	height:50px;
	box-sizing: border-box;
	background: white;
	color: black;
	text-decoration: none;
	position: absolute;
	top: -80px;
	right: 0;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
	content: "";
	display: block;
	height: 30px;
	width: 1px;
	background: black;
	position: absolute;
	left: 26px;
	top:10px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
	content: "";
	display: block;
	height: 30px;
	width: 1px;
	background: black;
	position: absolute;
	left: 26px;
	top:10px;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
	opacity: 1;
	top: 0;
	bottom: 0;
	overflow:scroll;
}

.lightbox-target:target .img-full {
	max-height: 100%;
	max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
	top: 0;
}
